/*
 * Globals
 */


/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}


/*
 * Base structure
 */

.float-border {
  border: .25rem solid #fff;
  box-shadow: 0 0 0.5rem 0.5rem rgba(51, 51, 51, 0.75);
}

.body-shadow {
  box-shadow: inset 0 0 5rem 1rem rgba(0, 0, 0, 0.5);
}

.cover-container {
  max-width: 50em;
}

.lead-shadow {
    box-shadow: 0 0 0.1rem 0.4rem rgba(51, 51, 51, 0.75);
}

.text-outline {
  -webkit-text-stroke-color: rgba(51, 51, 51, 0.75);
  -webkit-text-stroke-width: 0.5rem;
  -webkit-text-fill-color: white;
  paint-order: stroke;
  text-shadow: 0 0 1rem rgba(51, 51, 51, 1);
}

.background-charcoal {
  background-color: #1b1b1b;
}

.background-about {
  background-color: rgba(0, 0, 0, 0.5);
}
/*
 * Header
 */

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

.nav-link > img {
  height: 2rem;
}

.strong {
  text-shadow: inherit;
}

.scroll-shadows {
  overflow: auto;

  background:
    /* Shadow Cover TOP */
    linear-gradient(
      white 30%,
      rgba(255, 255, 255, 0)
    ) center top,
    
    /* Shadow Cover BOTTOM */
    linear-gradient(
      rgba(255, 255, 255, 0), 
      white 70%
    ) center bottom,
    
    /* Shadow TOP */
    radial-gradient(
      farthest-side at 50% 0,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0)
    ) center top,
    
    /* Shadow BOTTOM */
    radial-gradient(
      farthest-side at 50% 100%,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0)
    ) center bottom;
  
  background-repeat: no-repeat;
  background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
  background-attachment: local, local, scroll, scroll;
}
